server:
  port: 8082


spring:
  application:
    name: auth

eureka:
  client:
    healthcheck:
      enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    ip-address: 127.0.0.1
    prefer-ip-address: true



# for monitory health and status of each service
management:
  endpoints:
    web:
      exposure:
        include: health, info

  endpoint:
    health:
      show-details: ALWAYS



